<div class="sidenav-container">
    <!-- Sidebar Menu -->
    <div class="expanded-sidenav" [class.hidden]="!showExpandedSidenav">
        <div class="expanded-header">
            <div class="logo">G</div>
            <span class="white-text">Gestão</span>
            <button mat-icon-button (click)="toggleSidenav()" [class.menu-open]="showExpandedSidenav">
                <mat-icon class="white-icon">{{ showExpandedSidenav ? 'close' : 'menu' }}</mat-icon>
            </button>
        </div>
        
        <mat-nav-list class="nav-list-custom">
            <a mat-list-item class="menu-item"
                *ngFor="let item of menu"
                [routerLink]="item.path"
                routerLinkActive="active-link">
                <mat-icon class="white-icon">{{ item.icon }}</mat-icon>
                <span class="white-text menu-text menu-label-adjust">{{ item.label }}</span>
            </a>
        </mat-nav-list>
    </div>

    <!-- Conteúdo Principal -->
    <div class="main-content" [class.menu-open]="showExpandedSidenav">
        <button mat-icon-button class="menu-toggle-button" (click)="toggleSidenav()" *ngIf="!showExpandedSidenav" [class.menu-open]="showExpandedSidenav">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="content-container">
            <ng-content></ng-content>
        </div>
    </div>
</div>
