.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 15px;
}

.full-width {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
