<!-- Wrapper -->
<div id="wrapper" style="height: 100vh; overflow: hidden;">
    <navigation>
        <!-- Conteúdo que será passado para o ng-content do navigation -->
        <div style="height: 100%; display: flex; flex-direction: column;">
            <div style="flex: 1; overflow: auto;">
                <router-outlet></router-outlet>
            </div>
            
            <!-- Rodapé fixo no final -->
            <footer class="footer">
                <strong>PauloFiori</strong> © 2025
            </footer>
        </div>
    </navigation>
</div>
