/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer {
    padding: 16px;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
