<form [formGroup]="form" (ngSubmit)="salvar()" class="form-container">
    <h2>Adicionar Estado</h2>

    <mat-form-field appearance="fill" class="full-width d-block">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width d-block">
        <mat-label>Abreviação</mat-label>
        <input matInput formControlName="abreviacao" required maxlength="2" minlength="2" />
        <mat-hint>Digite exatamente 2 caracteres</mat-hint>
        <mat-error *ngIf="form.get('abreviacao')?.errors?.['required']">Abreviação é obrigatória</mat-error>
        <mat-error *ngIf="form.get('abreviacao')?.errors?.['minlength'] || form.get('abreviacao')?.errors?.['maxlength']">A abreviação deve ter exatamente 2 caracteres</mat-error>
    </mat-form-field>

    <div class="actions">
        <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
</form>
