<div class="container-fluid py-3">
    <div class="card shadow-sm">
        <mat-tab-group class="p-3">
            <!-- TIPO -->
            <mat-tab label="Tipo">
                <div class="tab-content py-3">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h5 class="mb-0">Tipo</h5>
                        <button mat-flat-button color="primary" class="btn-add" (click)="abrirModalTipo()">
                            <i class="fas fa-plus me-2"></i>
                            Adicionar Tipo
                        </button>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <mat-form-field class="w-100">
                                <mat-label>Filtrar</mat-label>
                                <input matInput (keyup)="aplicarFiltroTipos($event)" placeholder="Ex. Tipo 1">
                                <mat-icon matPrefix class="me-2">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <mat-table [dataSource]="tipos" class="mat-elevation-z2 w-100">
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                                <mat-cell *matCellDef="let element" [attr.data-label]="'Nome'">{{element.nome}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acoes">
                                <mat-header-cell *matHeaderCellDef class="text-center">Ações</mat-header-cell>
                                <mat-cell *matCellDef="let tipo" class="text-center" [attr.data-label]="'Ações'">
                                    <button mat-icon-button color="primary" class="me-2" (click)="abrirModalTipo(tipo)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="excluirTipo(tipo.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="colunasCadastro"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: colunasCadastro;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginatorTipos 
                                     [pageSize]="10" 
                                     [pageSizeOptions]="[5, 10, 20, 30]"
                                     showFirstLastButtons 
                                     class="mt-3">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>

            <!-- FABRICANTE -->
            <mat-tab label="Fabricante">
                <div class="tab-content py-3">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h5 class="mb-0">Fabricante</h5>
                        <button mat-flat-button color="primary" class="btn-add" (click)="abrirModalFabricante()">
                            <i class="fas fa-plus me-2"></i>
                            Adicionar Fabricante
                        </button>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <mat-form-field class="w-100">
                                <mat-label>Filtrar</mat-label>
                                <input matInput (keyup)="aplicarFiltroFabricantes($event)" placeholder="Ex. Fabricante 1">
                                <mat-icon matPrefix class="me-2">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <mat-table [dataSource]="fabricantes" class="mat-elevation-z2 w-100">
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                                <mat-cell *matCellDef="let element" [attr.data-label]="'Nome'">{{element.nome}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acoes">
                                <mat-header-cell *matHeaderCellDef class="text-center">Ações</mat-header-cell>
                                <mat-cell *matCellDef="let fabricante" class="text-center" [attr.data-label]="'Ações'">
                                    <button mat-icon-button color="primary" class="me-2" (click)="abrirModalFabricante(fabricante)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="excluirFabricante(fabricante.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="colunasCadastro"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: colunasCadastro;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginatorFabricantes 
                                     [pageSize]="10" 
                                     [pageSizeOptions]="[5, 10, 20, 30]"
                                     showFirstLastButtons 
                                     class="mt-3">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>

            <!-- CIDADE -->
            <mat-tab label="Cidade">
                <div class="tab-content py-3">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h5 class="mb-0">Cidade</h5>
                        <button mat-flat-button color="primary" class="btn-add" (click)="abrirModalCidade()">
                            <i class="fas fa-plus me-2"></i>
                            Adicionar Cidade
                        </button>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <mat-form-field class="w-100">
                                <mat-label>Filtrar</mat-label>
                                <input matInput (keyup)="aplicarFiltroCidades($event)" placeholder="Ex. Cidade 1">
                                <mat-icon matPrefix class="me-2">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <mat-table [dataSource]="cidades" class="mat-elevation-z2 w-100">
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                                <mat-cell *matCellDef="let element" [attr.data-label]="'Nome'">{{element.nome}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acoes">
                                <mat-header-cell *matHeaderCellDef class="text-center">Ações</mat-header-cell>
                                <mat-cell *matCellDef="let cidade" class="text-center" [attr.data-label]="'Ações'">
                                    <button mat-icon-button color="primary" class="me-2" (click)="abrirModalCidade(cidade)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="excluirCidade(cidade.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="colunasCadastro"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: colunasCadastro;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginatorCidades 
                                     [pageSize]="10" 
                                     [pageSizeOptions]="[5, 10, 20, 30]"
                                     showFirstLastButtons 
                                     class="mt-3">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>

            <!-- ESTADO -->
            <mat-tab label="Estado">
                <div class="tab-content py-3">
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <h5 class="mb-0">Estado</h5>
                        <button mat-flat-button color="primary" class="btn-add" (click)="abrirModalEstado()">
                            <i class="fas fa-plus me-2"></i>
                            Adicionar Estado
                        </button>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <mat-form-field class="w-100">
                                <mat-label>Filtrar</mat-label>
                                <input matInput (keyup)="aplicarFiltroEstados($event)" placeholder="Ex. Estado 1">
                                <mat-icon matPrefix class="me-2">search</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <mat-table [dataSource]="estados" class="mat-elevation-z2 w-100">
                            <ng-container matColumnDef="nome">
                                <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                                <mat-cell *matCellDef="let element" [attr.data-label]="'Nome'">{{element.nome}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="abreviacao">
                                <mat-header-cell *matHeaderCellDef>Abreviação</mat-header-cell>
                                <mat-cell *matCellDef="let element" [attr.data-label]="'Abreviação'">{{element.abreviacao}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="acoes">
                                <mat-header-cell *matHeaderCellDef class="text-center">Ações</mat-header-cell>
                                <mat-cell *matCellDef="let estado" class="text-center" [attr.data-label]="'Ações'">
                                    <button mat-icon-button color="primary" class="me-2" (click)="abrirModalEstado(estado)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="excluirEstado(estado.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="colunasEstado"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: colunasEstado;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginatorEstados 
                                     [pageSize]="10" 
                                     [pageSizeOptions]="[5, 10, 20, 30]"
                                     showFirstLastButtons 
                                     class="mt-3">
                        </mat-paginator>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
